a {
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #3b82f6;
}

a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #3b82f6;
  left: 0;
  bottom: -5px;
  transition: 0.3s ease;
}

a:hover::after {
  width: 100%;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(59,130,246,0.8);
}